<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#NETWORK" role="tab" aria-controls="home"
      aria-selected="true">Red</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#PRT" role="tab" aria-controls="home" aria-selected="false">PRT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#EVO" role="tab" aria-controls="home" aria-selected="false">EVo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#SEGURIDAD" role="tab" aria-controls="home"
      aria-selected="false">Seguridad</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="tabs-NETWORK" id="NETWORK"></div>
  <div class="tab-pane fade" role="tabpanel" aria-labelledby="tabs-PRT" id="PRT"></div>
  <div class="tab-pane fade" role="tabpanel" aria-labelledby="tabs-EVO" id="EVO"></div>
  <div class="tab-pane fade" role="tabpanel" aria-labelledby="tabs-SEGURIDAD" id="SEGURIDAD"></div>
</div>