<div class="jumbotron">
  <form>
    <div class="form-group">
      <label for="b_1">IP IMPRESORA</label>
      <input type="text" class="form-control" id="b_1" name="b_1" placeholder="127.0.0.1" />
    </div>
    <div class="form-group">
      <label for="b_2">ID IMPRESORA</label>
      <input type="text" class="form-control" id="b_2" name="b_2" placeholder="" />
    </div>
    <div class="form-group">
      <label for="b_3">PUERTO IMPRESORA</label>
      <input type="text" class="form-control" id="b_3" name="b_3" placeholder="" />
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-lg" onclick="savePRT()">Guardar</button>
    </div>
  </form>
</div>