<div class="jumbotron">
  <form>
    <div class="form-group">
      <label for="d_1">USUARIO DE ENTRADA</label>
      <input type="text" class="form-control" id="d_1" name="d_1" placeholder="" />
    </div>
    <div class="form-group">
      <label for="d_2">CONTRASEÑA DE ENTRADA</label>
      <input type="text" class="form-control" id="d_2" name="d_2" placeholder="" />
    </div>
    <div class="form-group">
      <button id="btn_d" type="button" class="btn btn-primary btn-lg" onclick="saveSeguridad()">Guardar</button>
      <center id="cnt_d" style="display: none;"><img src="./images/ajax-loader-barra.gif"></center>
    </div>
  </form>
</div>