<div class="jumbotron">
  <form>
    <div class="form-group">
      <label for="c_1">SERIE EVoGAS</label>
      <input type="text" class="form-control" id="c_1" name="c_1" placeholder="" />
    </div>
    <div class="form-group">
      <label for="c_2">ID EVoGAS</label>
      <input type="text" class="form-control" id="c_2" name="c_2" placeholder="" />
    </div>
    <div class="form-group">
      <label for="c_3">NOMBRE DEL SITIO</label>
      <input type="text" class="form-control" id="c_3" name="c_3" placeholder="" />
    </div>
    <div class="form-group">
      <label for="c_4">DOMICILIO DEL SITIO</label>
      <!-- <input type="text" class="form-control" id="c_4" name="c_4" placeholder="" /> -->
      <textarea class="form-control" id="c_4" name="c_4" aria-label="With textarea" rows="6"></textarea>


    </div>
    <div class="form-group">
      <label for="c_5">ID SITIO</label>
      <input type="text" class="form-control" id="c_5" name="c_5" placeholder="" />
    </div>
    <div class="form-group">
      <button id="btn_c" type="button" class="btn btn-primary btn-lg" onclick="saveEVO()">Guardar</button>
      <center id="cnt_c" style="display: none;"><img src="./images/ajax-loader-barra.gif"></center>
    </div>
  </form>
</div>